[SickBeard]
host=localhost
port=8081
username=
password=
web_root=
ssl=0
api_key=

[NzbDrone]
host=localhost
port=8081
username=
password=
web_root=
ssl=0
api_key=

[MP4]
ffmpeg=ffmpeg.exe
ffprobe=ffprobe.exe
output_directory=
copy_to=
move_to=
output_extension=mp4
output_format=mp4
delete_original=True
relocate_moov=True
audio-codec=ac3
video-codec=h264,x264
ios-audio=True
audio-language=
audio-default-language=
subtitle-language=
subtitle-default-language=
fullpathguess=True
convert-mp4=False
tagfile=True
download-artwork=True
download-subs=False
sub-providers=addic7ed,podnapisi,thesubdb,opensubtitles

[CouchPotato]
host = localhost
port = 5050
username = 
password =
web_root =
ssl = 0
apikey = 
delay = 65
method = renamer
delete_failed = 0