[SickBeard]
host = localhost
port = 8081
username =
password =
web_root =
ssl = False
api_key =

[Sonarr]
host = localhost
port = 8989
web_root =
ssl = False
apikey =

[Radarr]
host = localhost
port = 7878
web_root =
ssl = False
apikey =

[MP4]
ffmpeg = ffmpeg.exe
ffprobe = ffprobe.exe
threads = 0
output_directory =
copy_to =
move_to =
output_extension = mp4
output_format = mp4
delete_original = True
relocate_moov = True
video-codec = h264,x264
video-bitrate =
video-crf =
video-max-width =
video-profile =
h264-max-level =
use-qsv-decoder-with-encoder = True
use-hevc-qsv-decoder = False
enable_dxva2_gpu_decode = False
ios-audio = True
ios-first-track-only = False
ios-audio-filter =
ios-move-last = False
max-audio-channels =
audio-codec = ac3
ignore-truehd = true
audio-language =
audio-default-language =
audio-channel-bitrate =
audio-filter =
audio-copy-original = False
audio-first-track-of-language = False
allow-audio-language-relax = True
subtitle-codec = mov_text
subtitle-codec-image-based =
subtitle-language =
subtitle-default-language =
subtitle-encoding =
fullpathguess = True
process-same-extensions = False
force-convert = False
tagfile = True
tag-language = en
download-artwork = Poster
download-subs = False
embed-subs = True
embed-only-internal-subs = False
sub-providers = 
post-process = False
pix-fmt =
aac_adtstoasc = False
sort-tracks-by-language = False
prefer-more-channels = False

[CouchPotato]
host = localhost
port = 5050
username =
password =
web_root =
ssl = False
apikey =
delay = 65
method = renamer
delete_failed = False

[uTorrent]
convert =
couchpotato-label = couchpotato
sickbeard-label = sickbeard
sonarr-label = sonarr
bypass-label = bypass
sickrage-label = sickrage
webui = False
action_before = stop
action_after = removedata
host = http://localhost:8080/
username =
password =
output_directory =

[qBittorrent]
convert =
couchpotato-label = couchpotato
sickbeard-label = sickbeard
sonarr-label = sonarr
bypass-label = bypass
sickrage-label = sickrage
action_before = pause
action_after = resume
host = http://localhost:8080/
username =
password =
output_directory =

[Deluge]
host = localhost
username =
convert = True
password =
sonarr-label = sonarr
bypass-label = bypass
sickbeard-label = sickbeard
port = 58846
sickrage-label = sickrage
couchpotato-label = couchpotato
output_directory =
remove = false

[SABNZBD]
convert = True
sickrage-category = sickrage
sonarr-category = sonarr
radarr-category = radarr
bypass-category = bypass
couchpotato-category = couchpotato
sickbeard-category = sickbeard
output_directory =

[Sickrage]
host = localhost
port = 8081
username =
password =
web_root =
ssl = False
api_key =

[Plex]
host = localhost
port = 32400
refresh = True
token =

[Permissions]
chmod = 0755
uid = -1
gid = -1