[SickBeard]
host=localhost
port=8081
username=
password=
web_root=
ssl=0
api_key=

[Sonarr]
host=localhost
port=8989
web_root=
ssl=0
apikey=

[MP4]
ffmpeg=ffmpeg.exe
ffprobe=ffprobe.exe
output_directory=
copy_to=
move_to=
output_extension=mp4
output_format=mp4
delete_original=True
relocate_moov=True
audio-codec=ac3
video-codec=h264,x264
video-bitrate=
ios-audio=True
max-audio-channels=
audio-language=
audio-default-language=
audio-channel-bitrate=
subtitle-language=
subtitle-default-language=
fullpathguess=True
convert-mp4=False
tagfile=True
tag-language=en
download-artwork=True
download-subs=False
embed-subs=True
sub-providers=addic7ed,podnapisi,thesubdb,opensubtitles
permissions=0777

[CouchPotato]
host = localhost
port = 5050
username = 
password =
web_root =
ssl = 0
apikey = 
delay = 65
method = renamer
delete_failed = 0

[uTorrent]
convert=
couchpotato-label=couchpotato
sickbeard-label=sickbeard
sonarr-label=sonarr
webui=False
action_before=stop
action_after=removedata
host=http://localhost:8080/
username=
password=

[SABNZBD]
convert=True
Sickbeard-category=sickbeard
Couchpotato-category=couchpotato
Sonarr-category=sonarr

[Sickrage]
host=localhost
port=8081
username=
password=
web_root=
ssl=0
api_key=
