[loggers]
keys = root, manual, nzbget

[handlers]
keys = consoleHandler, nzbgetHandler, fileHandler, manualHandler

[formatters]
keys = simpleFormatter, minimalFormatter, nzbgetFormatter

[logger_root]
level = DEBUG
handlers = consoleHandler, fileHandler

[logger_nzbget]
level = DEBUG
handlers = nzbgetHandler, fileHandler
propagate = 0
qualname = NZBGetPostProcess

[logger_manual]
level = DEBUG
handlers = manualHandler, fileHandler
propagate = 0
qualname = MANUAL

[handler_consoleHandler]
class = StreamHandler
level = INFO
formatter = simpleFormatter
args = (sys.stdout,)

[handler_nzbgetHandler]
class = StreamHandler
level = INFO
formatter = nzbgetFormatter
args = (sys.stdout,)

[handler_manualHandler]
class = StreamHandler
level = INFO
formatter = minimalFormatter
args = (sys.stdout,)

[handler_fileHandler]
class = handlers.RotatingFileHandler
level = INFO
formatter = simpleFormatter
args = ('%(logfilename)s', 10000, 1)

[formatter_simpleFormatter]
format = %(asctime)s - %(name)s - %(levelname)s - %(message)s
datefmt = %Y-%m-%d %H:%M:%S

[formatter_minimalFormatter]
format = %(message)s
datefmt = 

[formatter_nzbgetFormatter]
format = [%(levelname)s] %(message)s
datefmt = 
